html,
body {
    width: 100%;
    height: 100%;
}


.background {
    
    width: 91rem;
    height: 45rem;
    left: -8px;
    top: -8px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    overflow: hidden;
    filter: brightness(100%);
}

.imgbg{
    background: url(./images/image\ 9.png);
    width: 92rem;
    height: 43rem;
    left: -8px;
    top: -20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    overflow: hidden;
    filter: brightness(40%);
    z-index: 0;
}

.navbar {
    width: 91rem;
    height: 6.375rem;
    top: 0rem;
    left: -8px;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: flex;
    position: absolute;left: 0rem;
}

.navtitle {
    position: absolute;
    top: .5rem;
    left: 4.625rem;
    font-family: 'Cormorant SC';
    font-size: 1.5rem;
    color: white;
    opacity: 5;
    z-index: 2;
}

.est {
    position: absolute;
    top: 2.8125rem;
    left: 5.6875rem;
    font-family: Inter;
    font-size: .75rem;
    color: white;
    z-index: 2;
}

.rooms {
    position: absolute;
    top: 1.25rem;
    left: 45rem;
    font-family: Inter;
    font-size: 1.5rem;
    color: white;
    font-weight: 1;
}

.facilities {
    position: absolute;
    top: 1.25rem;
    left: 55.5625rem;
    font-family: Inter;
    font-size: 1.5rem;
    color: white;
    font-weight: 1;
}

.reservations {
    position: absolute;
    top: 1.25rem;
    left: 66.25rem;
    font-family: Inter;
    font-size: 1.5rem;
    color: white;
    font-weight: 1;
}

.about {
    position: absolute;
    top: 1.25rem;
    left: 79rem;
    font-family: Inter;
    font-size: 1.5rem;
    color: white;
    font-weight: 1;
}


.ourrooms {
    /* Our Rooms */

    position: absolute;
    width: 30.9375rem;
    height: 7.25rem;
    left: 30rem;
    top: 10.9375rem;

    font-family: 'Cormorant SC';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 116px;

    color: #FFFFFF;
    z-index: 3;

    
}

.deluxebox {
    /* Rectangle 7 */

    position: absolute;
    width: 65.6875rem;
    height: 37.6875rem;
    right: 24.3125rem;
    top: 46.5625rem;

    background: #000000;

}

.deluxeimg {
    position: absolute;
    width: 37.625rem;
    height: 25.0625rem;
    left: 6.25rem;
    top: 6.25rem;
    border-radius: 25px;
}

.deluxetitle {
    position: absolute;
    width: 13.8125rem;
    height: 2.75rem;
    left: 49.0625rem;
    top: 9.375rem;

    font-family: 'Cormorant SC';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 2.75rem;
    color: #FFFFFF;
}

.deluxeinfo {
    position: absolute;
    width: 17.5625rem;
    height: 5.4375rem;
    left: 46.875rem;
    top: 15.625rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.8125rem;
    text-align: center;
    color: #FFFFFF;
}

.luxurybox {
    /* Rectangle 8 */

    position: absolute;
    width: 67.8125rem;
    height: 37.6875rem;
    left: 23.1875rem;
    top: 88.875rem;

    background: #000000;

}

.luxuryimg {
    position: absolute;
    width: 677px;
    height: 381px;
    right: 50px;
    top: 121px;
    border-radius: 25px;
}

.luxtitle {
    position: absolute;
    width: 13.875rem;
    height: 2.75rem;
    right: 49.0625rem;
    top: 9.375rem;
    font-family: 'Cormorant SC';
    font-style: normal;
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 2.75rem;
    color: #FFFFFF;
}

.luxinfo {
    position: absolute;
    width: 17.5625rem;
    height: 10.875rem;
    right: 46.875rem;
    top: 15.625rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.8125rem;
    text-align: center;
    color: #FFFFFF;
}

.presbox {
    position: absolute;
    width: 91rem;
    height: 65.0625rem;
    left: 0;
    top: 132.125rem;
    background: #000000;
}

.prestitle {
    position: absolute;
    width: 19.375rem;
    height: 2.75rem;
    left: 35.3125rem;
    top: 3.5rem;

    font-family: 'Cormorant SC';
    font-style: normal;
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 2.75rem;
    text-align: center;
    color: #FFFFFF;
}

.presimg {
    /* image 11 */

    position: absolute;
    width: 63.375rem;
    height: 28.5rem;
    left: 13.3125rem;
    top: 12.5rem;
    border-radius: 25px;
}

.bedroom {
    /* Bedrooms */

    position: absolute;
    width: 6.5625rem;
    height: 1.8125rem;
    left: 24.3125rem;
    top: 43.75rem;

    font-family: 'Cormorant SC';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.8125rem;
    /* identical to box height */
    text-align: center;

    color: #FFFFFF;


}

.amenities {
    /* Amenities */

    position: absolute;
    width: 6.5625rem;
    height: 1.8125rem;
    left: 59.1875rem;
    top: 43.75rem;

    font-family: 'Cormorant SC';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.8125rem;
    /* identical to box height */
    text-align: center;

    color: #FFFFFF;


}

.bedroomtext {
    /* Our Presidential Suites comes with a 3 room Bedroom */

    position: absolute;
    width: 21.75rem;
    height: 4.75rem;
    left: 16.6875rem;
    top: 46.875rem;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.8125rem;
    text-align: center;

    color: #FFFFFF;


}

.amenitiestext {
    /* Endless amenities such as Alcoholic Beverages, Snacks, Kitchens, Living Room and so much more! */

    position: absolute;
    width: 21.75rem;
    height: 5rem;
    left: 51.5625rem;
    top: 46.875rem;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.8125rem;
    text-align: center;

    color: #FFFFFF;


}

.totop {
    position: absolute;
    top: 56.25rem;
    left: 50%;
    transform: translate(-50%);
    font-family: 'Cormorant SC';
    font-size: 2.25rem;
    color: white;
    opacity: 1;
    padding-top: .75rem;
    padding-bottom: .75rem;
    padding-left: 8.0625rem;
    padding-right: 8.0625rem;
    background-color: #000;
    border-radius: 1.5625rem;
    border: 1px solid white;
}

.footer {
    /* Rectangle 11 */

    position: absolute;
    width: 91rem;
    height: 12.3125rem;
    left: 0rem;
    top: 197.3125rem;
    background: #000000;
}

.copyright {
    /* Copyright @VhoTel. All rights reserved */

   position: absolute;
    width: 27.5625rem;
    height: 1.8125rem;
    left: 50%;
    transform: translate(-50%);
    top: 3.75rem;

    font-family: 'Cormorant SC';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.8125rem;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;


}


a{  
    text-decoration: none;
    margin-top: 10px;
}

@media  screen and (max-width: 768px) {

    html{
        font-size: smaller;
    }
    
}